*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#tshirt{
    background-color: aqua;
}
.carte{
    border: 2px solid black;
    width: 20vw;
} 
li{
    display: inline;
} 
li a{
    
} 
img{
    width: 100%;
}
p{
    margin-left: 10px;
}